body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    background-color: #1F2937;
}


.header-logo-section {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    
}

.header-menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 16px;
    font-size: 18px; 
    color: #E5E7EB;
}

/* home page main element */

.front-page-main-element {   
    display: flex;
    color: white;
    gap: 16px;
    padding: 100px 10% 100px 10%;
    background-color: #1F2937;
}

.left-side-box{
    display: flex;
    flex-direction: column;
    flex:1 1 0; 
}

.this-website-is-awesome {
    font-weight: extra-bold;
    font-size: 48px;
    margin: 0 0 -10px 0;
    text-align: start;
}
.right-side-box{
    display: flex;
    flex:1 1 0; 
    justify-content: center;
    align-items: center;
    background-color: #6D747D ;
}
.main-page-button {
    width: fit-content;
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;

}

/* home page section peppered for four photos */

.some-random-info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9faf8;
    padding: 0 15% 50px 15%;
}

.some-random-info-section-main-text {
text-align: center;
}

.some-random-info-section-main-text{
    font-size: 36px;
    font-weight: extra-bold;
    
    color: #1F2937;
    text-align: center;
}

.box-for-four-elements{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.blue-border-box {
    border: 4px solid #3882F6;
    width: 140px;
    height: 140px;
    border-radius: 8px;
    display: block; 
    margin: 0 auto; 
}
.text-under-blue-box{
text-align: center;

}

/* home page section with inspiring quote */

.inspiring-quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 75px 15% 75px 15%;
}

.inspiring-quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight:100;
}

.quote-author{
    font-weight: bold;
    text-align: right;
    margin-left: auto; 
}

/* home page section with call to action  */

.call-to-action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 10% 75px 10%;
    color: #E5E7EB;

}

.call-to-action-blue-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    width: 100%;
    padding: 32px 10% 32px 10%;

}

.call-to-action-text-box{
display: flex;
flex-direction: column;
 
}
.call-to-action-text-bold{
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 -10px 0
}

.call-to-action-button{
    width: fit-content;
    background-color: #3882F6;
    border: 2px solid #f9faf8 ;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
}

footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding: 32px 10% 32px 10%;
}